*{
	margin:0;
	padding: 0;
}
.contact_form{
	float:right;
	margin-right: 100px;
}
.contact_details{
	display: flex;
	margin-top: 20px;
}
.c1{
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 200px;
	height: 60px;
	border-radius: 20px;
	border :1px solid gray;
	font-size: 20px;
	font-family: lato;
}
m nhy oy
smbhd'
tne aa bdhy property modhe avde?
bdhy avi gy ho
tne bdhy khbr che atle tne khbr che k bdhy nthy ayvi
perfect j che hooooooooooooooooooooooooooo
tu k website mari?